body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color:blanchedalmond;
}

.background {
    height: 729px;
    width: 1536px;
    filter: brightness(60%);
}

